@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Oswald&family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
body{
  background-color: #006D77;
  height: 100vh;
}
h1,h2,h3{
    /* color: red; */
    font-family: 'Montserrat', sans-serif;
}
blockquote{
    border-left: 3px solid blue;
    /* color: aqua; */
    color: blue;
    padding-left: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .1em;
}
p > code {
    padding: 3px;
}
code {
    background: #EDF6F9;
    /* background: rgb(180, 173, 173); */
    font-size: 0.875rem;
    font-weight: bold;
  }
  a{
    color: blueviolet;
    font-weight: bold;
  }
  pre {
    display: block;
    overflow: auto;
    background: #EDF6F9;
    padding: 5px;
    line-height: 1.2;
  }
table {
    border-collapse: collapse;
    /* background-color: red; */
  }
td,
  th {
    font-family: 'Roboto', sans-serif;
    border: 2px solid #E29578;
    padding-left: 20px;
    padding-right: 20px;
  }
img {
    display: block;
    max-width: 90%;
    margin: 2rem auto;
  }
#preview{
    font-family: 'Lato', sans-serif;
}
.wrapper{
    display: grid;
    /* background: "red"; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px;
    gap: 20px;
    margin: 10px;
}
#nav{
            height: 50px;
            width: 100%;
            background: #E29578;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #EDF6F9;
            font-family: "Roboto";
            padding: 30px;
            letter-spacing: .07em
}
@media(max-width: 500px){
    .wrapper{
        grid-template-columns: 1fr;
        /* background: red */
}   
#nav{
  font-size: 1.5em;
}
}